/* basic style sheet for all sub-pages */

/* need to adjust:
    - margin + padding
    - change colors to clear hexadecimal values
    - order of textboxes in 'contact' for small viewports:
        - no 'columns', just 'stack'
        - maybe 'foldout' texts
    - funny 'animation' for navbar dots
    - make snaps hover fluidly always in page center
*/

/* somehow doesn't get inherited, when i put this in the body classifier */
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box; /* this is new CSS3 - test w older browsers */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dotnav ul {
    position: relative;
    margin: 0 auto;
    padding-top: 1.5%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5%;
    list-style: none;
    text-align: center;
    cursor: default;
}

.dotnav li {
	position: relative;
	display: block;
	float: center;
	margin: 0 16px;
	width: 16px;
	height: 16px;
    cursor: pointer;
    display: inline-block; /* make navigation horizontal  */
}

.dotnav li a {
    top: 3px;
    left: 3px;
    width: 75%;
    height: 75%;
    background-color: grey;
    text-indent: -999em; /* this way text is available to screenreaders */
    transition: opacity 0.3s ease;
    cursor: pointer;
    position: absolute;
}

.dotnav li svg {
    z-index: 10;
}

.dotnav li svg circle {
    opacity: 0;
    fill: none;
    stroke: white;
    stroke-width: 3;
}

/* modifies display for big viewports (>600px):
- lotta code from here http://css-snippets.com/simple-horizontal-navigation/#read
- makes navbar horizontal on big screens, leaves it vertical for small ones
*/

/*@media screen and (min-width: 600px) {
    .dotnav ul {
        overflow: auto;
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .dotnav li {
        width: 16px;
        border-bottom: none;
        height: 16px;
        line-height: 50px;
    }
} */

.container {
    font-family: 'Courier New', Courier, monospace; /* value is a placeholder */
    text-align: justify; /* aligns text in block format, to be tested extensively */
    margin: 0px;
}

.container div {
    display: block;
    width: 75%;
    padding: 20px;
}


/* colors in these following containers are just for better visibility while positioning */

.container #ee_desc {
    background-color: cadetblue;
}

.container #pm_desc {
    background-color: crimson;
}

.container #rs_desc {
    background-color: coral;
}

.container #ln_desc {
    background-color: cornflowerblue;
}

/* whole container thing for bigger viewports */

@media screen and (min-width: 600px) {
    .container {
        font-family: 'Courier New', Courier, monospace; /* value is a placeholder */
        text-align: justify; /* aligns text in block format, to be tested extensively */
        padding: 20px;
        margin: 0px;
    }
    
    /* colors in these following containers are just for better visibility while positioning
    and will be removed before deploying */
    
    .container #ee_desc {
        display: block;
        background-color: cadetblue;
        width: 100%;
        height: 20%;
    }
    
    .container #pm_desc {
        display: inline-block;
        background-color: crimson;
        width: 50%;
        height: 55%;
        float: left;
    }
    
    .container #rs_desc {
        display: inline-block;
        background-color: coral;
        width: 50%;
        height: 55%;
        float: right;
    }
    
    .container #ln_desc {
        display: block;
        background-color: cornflowerblue;
        width: 100%;
        height: 20%;
    }
}

/* '.snap' is the class for the images displayed in the 'gallery' on the second page */


.snap div{
    width: 100%;
    height: 100%;
}