{% extends 'base.html' %}
<!-- Page 3. Contains:
    - contact-/booking-email
    - links to personal projects
    - short info text on philipp and me
    - picture?
    - presskit download

    layout:
    - on big screens: central top (eel), left (philipp), right (me), lower (mail + presskit)
    - on small screens: top, middle 1, middle 2, bottom (all stacked)
-->

{% block content %}
    
    <div class="container">
        CONTACT
        <div id="ee_desc">
            {% include '_el_desc.html' %}
        </div>
        <div id="pm_desc">
            {% include '_pm_desc.html' %}
        </div>
        <div id="rs_desc">
            {% include '_rs_desc.html' %}
        </div>
        <div id="ln_desc">ln_desc</div>
    </div>
    
{% endblock %}